<?xml version="1.0" encoding="UTF-8"?>
<!-- standard game logger -->
<!--@author Igor Turcevich
    @version 1.1 -->
<Configuration status="INFO">

    <Appenders>
        <File name="Game" fileName="src/main/resources/game_logs.log">
            <PatternLayout pattern="%d{HH:mm} [%t] %-5level - %msg%n"/>
        </File>

        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>


    </Appenders>

    <Loggers>

        <!-- file logger -->
        <Logger name= "Logic.Game" level="info" additivity="true">
            <AppenderRef ref="Game"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>